* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--dark-medium);
}

li {
	list-style: none;
}

a {
	text-decoration: none
}

/* Gobal variables*/
:root {
	--dark-max: #212121;
	--dark-medium: #404040;
	--color-text: #EDF6E5;
}

/* Nav Menu*/
.header {
	width: 100%;
	height: 5rem;
	z-index: 200;
	display: flex;
	position: fixed;
	background: var(--dark-max);
	box-shadow: 0 0 6px var(--color-text)
}

.nav-menu {
	margin: auto;
	width: max-content;
	justify-content: center;
}

.menu-opcion-nav {
	display: flex;
}

.menu-opcion-nav li a {
	margin: 8px;
	font-size: 17px;
	color: var(--color-text);
}

.menu-opcion-nav li a:hover {
	box-shadow: 0 2px 0 var(--color-text);
}