* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--dark-medium);
}

li {
	list-style: none;
}

a {
	text-decoration: none
}

/* Gobal variables*/
:root {
	--dark-max: #212121;
	--dark-medium: #404040;
	--max-black: #000000;
	--color-text: #EDF6E5;
	--color-subtitle: #515151;
}

/* Nav Menu*/
.header {
	width: 100%;
	height: 5rem;
	z-index: 200;
	display: flex;
	position: fixed;
	background: var(--dark-max);
	box-shadow: 0 0 6px var(--color-text)
}

.nav-menu {
	margin: auto;
	width: max-content;
	justify-content: center;
}

.menu-opcion-nav {
	display: flex;
}

.menu-opcion-nav li a {
	margin: 8px;
	font-size: 17px;
	color: var(--color-text);
}

.menu-opcion-nav li a:hover {
	box-shadow: 0 2px 0 var(--color-text);
}

/* Home */
.home {
	position: absolute;
	width: 100%;
	top: 8rem;
	text-align: center;
}

.home .name {
	font-size: 9rem;
	color: var(--color-text);
	font-family: 'Calligraffitti', cursive;
}

.home .greaten {
	color: var(--max-black);
	position: relative;
	top: 1rem;
}

.home .front-end {
	position: relative;
	top: -2.5rem;
	color: var(--color-subtitle);
}

.cards-recent {
	display: flex;
	position: absolute;
	width: 100%;
	height: 16rem;
	top: 25rem;
	justify-content: center;
}

.cards-recent h2 {
	position: absolute;
	height: max-content;
	color: var(--max-black);
	box-shadow: 0 2px 0 var(--color-text);
}

.card-project-one-recent {
	position: absolute;
	width: 20%;
	height: 20%;
	top: 4.2rem;
}

.card-project-two-recent {
	position: absolute;
	width: 20%;
	height: 20%;
	left: 14.5rem;
	top: 4.2rem;
}

.card-project-three-recent {
	position: absolute;
	width: 20%;
	height: 20%;
	left: 54rem;
	top: 4.2rem;
}

.card-project-one-recent img,
.card-project-two-recent img,
.card-project-three-recent img {
	position: absolute;
	width: 100%;
	opacity: .4;
}

.card-project-one-recent h4,
.card-project-two-recent h4,
.card-project-three-recent h4  {
	position: absolute;
	top: 7.5rem;
	margin-left: 7px;
	font-size: 12px;
	color: var(--color-text);
	box-shadow: 0 2px 0 var(--color-text);
}

.card-project-one-recent p,
.card-project-two-recent p,
.card-project-three-recent p {
	position: absolute;
	color: var(--color-text);
	top: 9rem;
	font-size: 10px;
	margin-left: 5px;
	width: 70%;
}

.card-project-one-recent .link-x,
.card-project-two-recent .link-x,
.card-project-three-recent .link-x {
	position: absolute;
	font-size: 17px;
	top: 9.5rem;
	left: 15.5rem;
	color: var(--color-text);
	cursor: pointer;
}

.card-project-one-recent .github-x,
.card-project-two-recent .github-x,
.card-project-three-recent .github-x {
	position: absolute;
	font-size: 20px;
	left: 13.5rem;
	top: 9.5rem;
	color: var(--color-text);
	cursor: pointer;
}

/* Projects */
.container-projects {
	position: absolute;
	top: 45rem;
	width: 100%;
	height: 150vh;
	display: flex;
	justify-content: center;
}

.container-projects .title-projects {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 3rem;
}

.container-projects .card-project-one {
	display: flex;
	position: absolute;
	width: 30rem;
	height: 25rem;
	top: 6rem;
	left: 9rem;

}

.container-projects .card-project-two {
	display: flex;
	position: absolute;
	width: 30rem;
	height: 25rem;
	top: 6rem;
	left: 45rem;

}

.container-projects .card-project-three {
	display: flex;
	position: absolute;
	width: 30rem;
	height: 25rem;
	top: 35rem;
	left: 9rem;
}

.container-projects .card-project-four {
	display: flex;
	position: absolute;
	width: 30rem;
	height: 25rem;
	top: 35rem;
	left: 45rem;
}

.container-projects .card-project-one:hover,
.container-projects .card-project-two:hover,
.container-projects .card-project-three:hover,
.container-projects .card-project-four:hover{
	transform: scale(1.1);
}

.card-project-one img,
.card-project-two img,
.card-project-three img,
.card-project-four img{
	width: 100%;
	height: 100%;
	opacity: .4;
}

.card-project-one .title-card-pro,
.card-project-two .title-card-pro,
.card-project-three .title-card-pro,
.card-project-four .title-card-pro{
	position: absolute;
	font-size: 2.5rem;
	color: var(--color-text);
	top: 13rem;
	margin-left: 7px;
	box-shadow: 0 2px 0 var(--color-text);
	
}

.card-project-one p,
.card-project-two p,
.card-project-three p,
.card-project-four p {
	position: absolute;
	width: 80%;
	top: 17.5rem;
	font-size: 15px;
	margin-left: 7px;
	text-align: justify;
	color: var(--color-text)
}

.card-project-one i,
.card-project-two i,
.card-project-three i,
.card-project-four i {
	position: absolute;
	color: var(--color-text);
	font-size: 2rem;
	left: 27rem;
	top: 20.5rem;
	cursor: pointer;
}

.card-project-one .link-gith,
.card-project-two .link-gith,
.card-project-four .link-gith,
.card-project-three .link-gith{
	top: 17.5rem;
}

/* About me */
.about-me {
	position: absolute;
	display: flex;
	border: 1px red solid;
	width: 100%;
	height: 485px;
	top: 108rem;
	justify-content: center;
}

.about-me .title {
	position: absolute;
	border: 1px solid red;	
	height: max-content;
	width: 100%;
	font-size: 2rem;
	text-align: center;
}

.about-me .img img {
	position: relative;
	width: 250px;
	border-radius: 48%;
	top: 3.3rem;
}

.about-text {
	position: absolute;
	display: flex;
	background: var(--dark-max);
	width: 45%;
	height: 40%;
	align-items: center;
	justify-content: center;
	top: 16rem;
	border-radius: 15px;
}

.about-text p {
	position: relative;
	width: 90%;
	text-align: justify;
	color: var(--color-text);
}